body {
    background-color: #3c3c3c;
    color: white;
}

/* game */
#container{
    background-color: #3c3c3c;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;

    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    width: 1000px;
    height: 35px;
    
}

#canvas {
    box-shadow: 0 0 7px #000000, 0 0 35px #568bff;
    border-radius: 0.5%;
    border: 0px;
    width: 1000px;
    height: 500px;
    display:none; /* display after game starts */
}

#lengthScore {
    margin-top: -1.7%;
    text-shadow: 0 0 1px #000000, 0 0 5px #5cb85c;
}

#score{
    text-shadow: 0 0 3px #000000, 0 0 10px #5cb85c;
}

/* menu */
#menu{
    margin-top: 2%;
    text-align: right;
    right: 0%;
}

select {
    background: #3c3c3c;
    color: white;
    border-color: white;
    font-size: 1em;
}

input[type=checkbox] {
    transform: scale(1.7);
    margin: 10px;
    cursor: pointer;
}

/* start button */
#startButton {
    background: #3c3c3c;
    color: white;
    border: 0px;
    border-radius: 0.5%;
    box-shadow: 0 0 7px #000000, 0 0 35px #568bff;
    width: 1000px;
    height: 500px;
    font-size: 3em;
}

#startButton:hover {
    background: #ffffff10;
    color: #5cb85c;
    box-shadow: 0 0 7px #000000, 0 0 35px #5cb85c;
    text-shadow: 0 0 1px #000000, 0 0 10px #5cb85c;
}

